body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.user-info {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
}

.user-info p {
    margin: 0;
    font-size: 16px;
    margin-bottom: 5px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a, header nav ul li button {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

header nav ul li a:hover, header nav ul li button:hover {
    background-color: #4d90fe;
    border-radius: 5px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

button {
    background-color: #4d90fe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #357ae8;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}